<ion-header no-border hide-nav-bar="true"> 
  
  <ion-navbar>

    <ion-grid>
      
      <ion-row>
        
        <ion-col text-right style="color:#324851" (click)="closeMenu()">
          
          Done
        
        </ion-col>
      
      </ion-row>
    
    </ion-grid>
    

  </ion-navbar>

  <!-- May want to take out of grid -->

<ion-toolbar no-padding class="custom-toolbar">

  <ion-grid no-padding>
    
    <ion-row>
      
      <ion-col col-1 style="background-color: #86AC41;"></ion-col>
      
      <ion-col col-18>
  
        <ion-grid class="landing-banner">
  
          <ion-row>
    
            <ion-col> Add Teams </ion-col>
  
          </ion-row>


        </ion-grid>
    
      </ion-col>

      <ion-col col-1 style="background: #324851;"></ion-col>
  
    </ion-row>

  </ion-grid>
  
</ion-toolbar>

<ion-searchbar style="width: 95%" placeholder="Search by team name..." [(ngModel)]="teamSearchInput" [showCancelButton]="shouldShowCancel"></ion-searchbar>

</ion-header>

<ion-content class="page-content" padding>

<!--
  bl- this is the where the list of all available teams
  is filtered; the filter is provided by the search bar;
  each item in the list slides to show a button that the
  user will press to add the team to their favorites;
  favorites are displayed above
-->

<!--
  bl - using ion-search bar will result in a real feel
  search with delayed output; will try it out 25Mar2017
  Reference: https://ionicframework.com/docs/v2/api/components/searchbar/Searchbar/
-->

<ion-list *ngIf="teamSearchInput" no-margin>                                      
    
    <ion-item text-wrap (click)="addFavoriteTeam(item.teamId)" class="team" class="team" *ngFor="let item of availableTeams | findTeamFilter: teamSearchInput">

      <h2>{{ item.teamName }}</h2>
      <ion-icon item-right *ngIf="!item.isFavoriteTeam" name="add"></ion-icon>
      <ion-icon item-right *ngIf="item.isFavoriteTeam" name="checkmark"></ion-icon>

    </ion-item>

</ion-list>


<h4 *ngIf="!teamSearchInput && (availableTeams | byTeamTypeFilter: 'football').length > 0">Football</h4>

<ion-list *ngIf="!teamSearchInput">
    
    <ion-item text-wrap (click)="addFavoriteTeam(item.teamId)" class="team" class="team" *ngFor="let item of availableTeams | findTeamFilter: 'football'">

      <h2>{{ item.teamName }}</h2>
      <ion-icon item-right *ngIf="!item.isFavoriteTeam" name="add"></ion-icon>
      <ion-icon item-right *ngIf="item.isFavoriteTeam" name="checkmark"></ion-icon>
      
    </ion-item>

</ion-list>

<h4 *ngIf="!teamSearchInput && (availableTeams | byTeamTypeFilter: 'soccer').length > 0">Soccer</h4>

<ion-list *ngIf="!teamSearchInput">
    
    <ion-item text-wrap (click)="addFavoriteTeam(item.teamId)" class="team" class="team" *ngFor="let item of availableTeams | findTeamFilter: 'soccer'">

      <h2>{{ item.teamName }}</h2>
      <ion-icon item-right *ngIf="!item.isFavoriteTeam" name="add"></ion-icon>
      <ion-icon item-right *ngIf="item.isFavoriteTeam" name="checkmark"></ion-icon>

    </ion-item>

</ion-list>

<h4 *ngIf="!teamSearchInput && (availableTeams | byTeamTypeFilter: 'volleyball').length > 0">Volleyball</h4>

<ion-list *ngIf="!teamSearchInput">
    
    <ion-item text-wrap (click)="addFavoriteTeam(item.teamId)" class="team" class="team" *ngFor="let item of availableTeams | findTeamFilter: 'volleyball'">

      <h2>{{ item.teamName }}</h2>
      <ion-icon item-right *ngIf="!item.isFavoriteTeam" name="add"></ion-icon>
      <ion-icon item-right *ngIf="item.isFavoriteTeam" name="checkmark"></ion-icon>

    </ion-item>

</ion-list>

<h4 *ngIf="!teamSearchInput && (availableTeams | byTeamTypeFilter: 'wrestling').length > 0">Wrestling</h4>

<ion-list *ngIf="!teamSearchInput">
    
    <ion-item text-wrap (click)="addFavoriteTeam(item.teamId)" class="team" class="team" *ngFor="let item of availableTeams | findTeamFilter: 'wrestling'">

      <h2>{{ item.teamName }}</h2>
      <ion-icon item-right *ngIf="!item.isFavoriteTeam" name="add"></ion-icon>
      <ion-icon item-right *ngIf="item.isFavoriteTeam" name="checkmark"></ion-icon>
      
    </ion-item>

</ion-list>

<h4 *ngIf="!teamSearchInput && (availableTeams | byTeamTypeFilter: 'basketball').length > 0">Basketball</h4>

<ion-list *ngIf="!teamSearchInput">
    
    <ion-item text-wrap (click)="addFavoriteTeam(item.teamId)" class="team" class="team" *ngFor="let item of availableTeams | findTeamFilter: 'basketball'">

      <h2>{{ item.teamName }}</h2>
      <ion-icon item-right *ngIf="!item.isFavoriteTeam" name="add"></ion-icon>
      <ion-icon item-right *ngIf="item.isFavoriteTeam" name="checkmark"></ion-icon>
      
    </ion-item>

</ion-list>

<h4 *ngIf="!teamSearchInput && (availableTeams | byTeamTypeFilter: 'baseball').length > 0">Baseball</h4>

<ion-list *ngIf="!teamSearchInput">
    
    <ion-item text-wrap (click)="addFavoriteTeam(item.teamId)" class="team" class="team" *ngFor="let item of availableTeams | findTeamFilter: 'volley ball'">

      <h2>{{ item.teamName }}</h2>
      <ion-icon item-right *ngIf="!item.isFavoriteTeam" name="add"></ion-icon>
      <ion-icon item-right *ngIf="item.isFavoriteTeam" name="checkmark"></ion-icon>
      
    </ion-item>

</ion-list>

<h4 *ngIf="!teamSearchInput && (availableTeams | byTeamTypeFilter: 'other').length > 0">Other Sports</h4>

<ion-list *ngIf="!teamSearchInput">
    
    <ion-item text-wrap (click)="addFavoriteTeam(item.teamId)" class="team" class="team" *ngFor="let item of availableTeams | findTeamFilter: 'other'">

      <h2>{{ item.teamName }}</h2>
      <ion-icon item-right *ngIf="!item.isFavoriteTeam" name="add"></ion-icon>
      <ion-icon item-right *ngIf="item.isFavoriteTeam" name="checkmark"></ion-icon>
      
    </ion-item>

</ion-list>

<h4 *ngIf="!teamSearchInput && availableTeams?.length > 0">All Sports</h4>

<ion-list *ngIf="!teamSearchInput">
    
    <ion-item text-wrap (click)="addFavoriteTeam(item.teamId)" class="team" class="team" *ngFor="let item of availableTeams">

      <h2>{{ item.teamName }}</h2>
      <ion-icon item-right *ngIf="!item.isFavoriteTeam" name="add"></ion-icon>
      <ion-icon item-right *ngIf="item.isFavoriteTeam" name="checkmark"></ion-icon>
      
    </ion-item>

</ion-list>

</ion-content>
