<!--*********************************************************************
FILE INFO
*************************************************************************
Name: landing.html
Purpose: The display file for the Landing Page
Tags: ion-header, ion-navbar, ion-title, ion-icon, h4, ion-list,
  ion-item-sliding, ion-item, ion-item-options, button
Description: This is the page that will show if the user does not have
  a default team selected and loading by default.
Note: None
Ng Commands: ngFor, click
Filters: myTeamFilter, favoriteTeamsFilter
Functions: openFindTeamPage, openOptionsPage, goToTeam, removeMyTeam,
  removeFavoriteTeam, addMyTeam
Last Update: 04/07/2017
*************************************************************************-->



<!--*********************************************************************
Name: ion-header
Purpose: Displays at top of page
Tags: ion-navbar, ion-title, ion-icon
Description: The header will contain the title of the page, as well as
  two buttons. The one button will open the Find Team page, and the other
  will open the Options Page.
Note: None
Ng Commands: click
Filters: None
Functions: openFindTeamPage, openOptionsPage
Last Update: 03/31/2017
*************************************************************************-->

<ion-header no-border>

  <ion-navbar>

    <ion-grid>
      
      <ion-row>
      
        <ion-col text-left style="color:#324851" (click)="openFindTeamPage()">
          
          Add Teams

        </ion-col>
      
        <ion-col text-right style="color:#324851" class="col-left" (click)="openOptionsPage()">
        
          Options

        </ion-col>
      
      </ion-row>

    </ion-grid>

  </ion-navbar>

  <!-- May want to take out of grid -->

<ion-toolbar no-padding class="custom-toolbar">

  <ion-grid no-padding>
    
    <ion-row>
      
      <ion-col col-1 style="background-color: #86AC41;"></ion-col>
      
      <ion-col col-18>
  
        <ion-grid class="landing-banner">
  
          <ion-row>
            
            <ion-col class="first-icon" text-center col-3 align-self-center><ion-icon name="md-american-football"></ion-icon></ion-col>
            
            <ion-col class="second-icon" text-center col-3 align-self-center><ion-icon name="md-baseball"></ion-icon></ion-col>
            
            <ion-col class="middle-icon" text-center col-8 align-self-start><ion-icon name="md-medal"></ion-icon></ion-col>
            
            <ion-col class="third-icon" text-center col-3 align-self-center><ion-icon name="md-basketball"></ion-icon></ion-col>
            
            <ion-col class="fourth-icon" text-center col-3 align-self-center><ion-icon name="md-football"></ion-icon></ion-col>
        
          </ion-row>
              
          <ion-row>
              
            <ion-col class="app-title">Follow My Team</ion-col>

          </ion-row>

        </ion-grid>
    
      </ion-col>

      <ion-col col-1 style="background: #324851;"></ion-col>
  
    </ion-row>

  </ion-grid>
  
</ion-toolbar>

</ion-header>





<!--*********************************************************************
Name: ion-content
Purpose: Displays at top of page
Tags: h4, ion-list, ion-item-sliding, ion-item, ion-item-options, button
Description: The content of this page consists of two sections. One section
  displays the user's default team under the title 'My Team'. The second
  section will display the user's favorites under the title 'My Favorites'
Ng Commands: ngFor, click
Filters: myTeamFilter, favoriteTeamsFilter
Functions: goToTeam, removeMyTeam, removeFavoriteTeam, addMyTeam
Note: None
Last Update: 03/31/2017
*************************************************************************-->

<ion-content class="page-content" padding>

<!-- Section for My Team --> 

  <h4>

    <ion-grid no-padding>
      
      <ion-row>
        
        <ion-col>My Team</ion-col>
        
        <ion-col *ngIf="!editingMyTeam && !showMessageHowToAddFavorites && !editingFavorites" (click)="editMyTeam()" style="font-size: 12px; color: #86AC41" text-right>Edit</ion-col>
        <ion-col *ngIf="editingMyTeam && !showMessageHowToAddFavorites" (click)="saveMyTeam()" style="font-size: 12px; color: #86AC41" text-right>Done</ion-col>
      
      </ion-row>

    </ion-grid>

  </h4>

  <div text-center *ngIf="availableTeams?.length === 0"><ion-spinner name="dots"></ion-spinner></div>  

  <ion-list *ngIf="availableTeams?.length > 0">
      
    <ion-item (click)="clickedMyTeam(item)"text-wrap class="team" class="my-team" *ngFor="let item of availableTeams | myTeamFilter: 'true'">

      <h2>{{ item.teamName }}</h2>
      
      <ion-icon *ngIf="editingMyTeam" item-right name="close"></ion-icon>

    </ion-item>

    <ion-item class= "my-team" *ngIf="showMessageHowToAddMyTeam">
      
      <h2>No team selected...</h2>

    </ion-item>

  </ion-list>





<!-- Section for My Favorites --> 

  <h4>

    <ion-grid no-padding>
      
      <ion-row>
        
        <ion-col>Favorites</ion-col>
        
        <ion-col *ngIf="!editingFavorites && !showMessageHowToAddFavorites && !editingMyTeam" (click)="editFavorites()" style="font-size: 12px; color: #86AC41" text-right>Edit</ion-col>
        <ion-col *ngIf="editingFavorites && !showMessageHowToAddFavorites" (click)="saveFavorites()" style="font-size: 12px; color: #86AC41" text-right>Done</ion-col>
      
      </ion-row>

    </ion-grid>

  </h4>

  <div text-center *ngIf="availableTeams?.length === 0"><ion-spinner name="dots"></ion-spinner></div>

  <ion-list *ngIf="availableTeams?.length > 0">
      
    <ion-item (click)="clickedFavoriteTeam(item)" text-wrap class="team" class="team" *ngFor="let item of availableTeams | favoriteTeamsFilter: 'true'">
      
      <h2>{{ item.teamName }}</h2>

      <ion-icon *ngIf="editingFavorites" item-right name="close"></ion-icon>
      <ion-icon *ngIf="editingMyTeam && item.isMyTeam" item-right name="star"></ion-icon>
      <ion-icon *ngIf="editingMyTeam && !item.isMyTeam" item-right name="star-outline"></ion-icon>

    </ion-item>

    <ion-item class="team" *ngIf="showMessageHowToAddFavorites" (click)="openFindTeamPage()">
        
        <h2>Add teams...</h2>
      
     </ion-item>

  </ion-list>





</ion-content>
