<!--*********************************************************************
FILE INFO
*************************************************************************
Name: team-schedule.html
Purpose: The display file for the Team Schedule Page
Tags: ion-header, ion-navbar, ion-icon, ion-content
Description: This is the page that will show if the user does not have
  a default team selected and loading by default.
Note: None
Ng Commands: ngFor, click
Filters: myTeamFilter, favoriteTeamsFilter
Functions: openFindTeamPage, openOptionsPage, goToTeam, removeMyTeam,
  removeFavoriteTeam, addMyTeam
Last Update: 04/07/2017
*************************************************************************-->



<!--*********************************************************************
Name: ion-header
Purpose: Displays at top of page
Tags: ion-navbar, ion-icon
Description:
Note: None
Ng Commands: click
Filters: None
Functions: 
Last Update: 07/20/2017
*************************************************************************-->

<ion-header no-padding no-border>

  <ion-navbar>
    
    <ion-grid>
      
      <ion-row>
        
        <ion-col class="col-left" (click)="goToLandingPage()">
          
          <ion-icon name="home"></ion-icon>
        
        </ion-col>

        <ion-col class="col-right" (click)="openSearchTeamSchedulePage()">
          
          <ion-icon name="search"></ion-icon>
        
        </ion-col>
      
      </ion-row>
    
    </ion-grid>
    

  </ion-navbar>

  <!-- May want to take out of grid -->

<ion-toolbar no-padding class="custom-toolbar">

  <ion-grid no-padding>
    
    <ion-row>
      
      <ion-col col-1 [ngStyle]="{'background-color': activeTeamSecondaryColor}"></ion-col>
      
      <ion-col col-18>
  
        <ion-grid class="landing-banner">
  
          <ion-row>
    
            <ion-col [ngStyle]="{'color': activeTeamPrimaryColor}"> Schedule </ion-col>
  
          </ion-row>


        </ion-grid>
    
      </ion-col>

      <ion-col col-1 [ngStyle]="{'background-color': activeTeamPrimaryColor}"></ion-col>
  
    </ion-row>

  </ion-grid>
  
</ion-toolbar>
  
</ion-header>

<ion-content [ngStyle]="{'background-color': activeTeamPrimaryColor}" padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">

    <ion-refresher-content 
      pullingIcon="none"
      refreshingSpinner="dots">
    </ion-refresher-content>

  </ion-refresher>

  <div text-center *ngIf="!teamSchedule"><ion-spinner name="dots"></ion-spinner></div>

  <ion-list *ngIf="teamSchedule">

    <ion-item text-wrap *ngFor="let item of teamSchedule">

      <ion-grid no-padding> 

        <ion-row>

          <ion-col col-14 class="col-left">
            
            <h2 style="padding-left: 1.48em; text-indent: -1.48em;" *ngIf="item.scheduleHomeOrAway=='Home'">vs. {{ item.scheduleOpponent }}<br><p>{{ item.scheduleLocation }}</p></h2>
            <h2 style="padding-left: 1.1em; text-indent: -1.1em;" *ngIf="item.scheduleHomeOrAway=='Away'">at {{ item.scheduleOpponent }}<br><p>{{ item.scheduleLocation }}</p></h2>

          </ion-col>

          <ion-col class="col-right"><p>{{ item.scheduleDate }}<br>{{ item.scheduleTime }}</p></ion-col>
          
        </ion-row>

        <ion-row>
          
           

        </ion-row>

        <ion-row *ngIf="item.scheduleResult!=null" padding-top>

          <ion-col class="col-left" *ngIf="item.scheduleResult=='W'"> <h3 style="font-weight: 500;">{{ item.scheduleResult }}</h3> </ion-col>
          <ion-col class="col-left" *ngIf="item.scheduleResult=='L'"> <h3>{{ item.scheduleResult }}</h3> </ion-col>
          <ion-col class="col-right"> <p> <ion-icon icon-right name="md-arrow-dropright" *ngIf="item.scheduleResult=='W'"></ion-icon> {{ item.scheduleYourScore }} </p> </ion-col>

        </ion-row>

        <ion-row *ngIf="item.scheduleResult!=null">

          <ion-col col-16 class="col-left"> <p> {{ item.scheduleOpponent }} </p> </ion-col>
          <ion-col class="col-right"> <p>  <ion-icon name="md-arrow-dropright" *ngIf="item.scheduleResult=='L'"></ion-icon> {{ item.scheduleTheirScore }} </p> </ion-col>

        </ion-row>

        </ion-grid>

      </ion-item>

  </ion-list>

</ion-content>
