.record-col-left{
    border: 1px solid black;
    border-left: none;
    border-bottom: none;
    padding: 10px;
}

.record-col-right{
    border-top: 1px solid black;
    padding: 10px;
}

.team-icon{
    font-size: 50px;
    padding: 0px;
    margin-bottom: 0px;
}

.year{
    padding: 0px;
    margin-top: 0px;
}